<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="fragments/t_login :: t_login-header" />
<link th:href="@{/css/app.css}" rel="stylesheet"/>
<body>
	<div th:fragment="navbar">
		<!-- Static navbar -->
		<nav class="navbar navbar-static-top navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}"> <img
						th:src="@{/img/logo.svg}" src="/img/logo.svg" alt=""
						class="img-responsive logo-ct" width="140px">
					</a>
					<h2 class="titulo">APP</h2>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown ct-chapur"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false" th:inline="text">[[${#httpServletRequest.remoteUser}]]
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/logout}">Cerrar sesión</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container mt-80">
		<section id="signin-main" class="formulario-login signin-main">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div sec:authorize="hasAuthority(@environment.getProperty('consulta.detalle_empaque'))">
						<h4>DETALLE</h4>
					</div>
					
					<div sec:authorize="hasAuthority(@environment.getProperty('consulta.descarga'))">
						<h4>Descarga</h4>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>