<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Miguel Chi">
    <meta name="generator" content="">
    <title>Panel Priorizador</title>

    <link th:href="@{/css/app.css}" rel="stylesheet"/>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
</head>
<body th:attr="data-urlb=${urlb}, data-version=${version}">

<div id="app" >
    <!--<navbar-component
            img-url="img/logochapur.png"
    ></navbar-component>-->

    <div class="container-fluid">
        <div class="row">

            <main role="main" class="col-md-12 ml-sm-auto col-lg-12">
                <div class="container pt-3 pb-2 mb-3 border-bottom" >
                    <div class="row">

                        <div class="col-12">
                            <h5 class="mb-2 border-bottom pb-2 text-uppercase">PRIORIZADOR DE TAREAS</h5>
                            <!--<tabs-modos-component></tabs-modos-component>-->
                        </div>

                        <div class="col-12">
                            <!--<tabla-component></tabla-component>-->
                        </div>

                    </div>
                    <!--<cargador-component></cargador-component>-->
                </div>
            </main>
        </div>
    </div>
</div>


<script th:src="@{/js/app.js}"></script>
</body>
</html>
